<% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <br />
    <h3>Edit your Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          value="<%= listing.title %>"
          class="form-control"
          type="text"
          name="listing[title]"
          placeholder="Enter Title"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="from-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          id=""
          placeholder="enter description"
        >
<%= listing.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" value="<%= listing.image %>" class="from-label"
          >Upload New Image</label
        >
        <input
          class="form-control"
          type="file"
          name="listing[image]"
        />
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="price" class="from-label">Price</label>
            <input
              value="<%= listing.price %>"
              type="number"
              name="listing[price]"
              class="form-control"
              placeholder="Enter price"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="location" class="from-label">Location</label>
            <input
              value="<%= listing.location %>"
              class="form-control"
              type="text"
              name="listing[location]"
              placeholder="Enter location"
            />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="from-label">Country</label>
        <input
          value="<%= listing.country %>"
          type="text"
          class="form-control"
          name="listing[country]"
          placeholder="Enter Country"
        />
      </div>
      <button class="btn btn-dark add-btn">Edit</button>
      <br />
      <br />
    </form>
  </div>
</div>
